.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-crop-result-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  span {
    margin: 20px 0;
  }
}
